.card {
    margin-top: 100px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #332D2D;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
}

.wrap {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 40px;
}

header .top-bar {
    text-align: right;
    color: #919191;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 0 0 0;
}

header .logo {
    float: left;
    display: block;
    margin-top: 7px;
}

.navbar-toggler {
    height: 35px;
    border: 0 !important;
    margin-top: 10px;
    float: right;
    display: none;
}

.hamburger-menu {
    position: relative;
    transform: translateY(10px);
    background: #000000;
    transition: all 0ms 300ms;
}

.hamburger-menu, .hamburger-menu:after, .hamburger-menu:before {
    width: 35px;
    height: 3px;
}

nav {
    display: block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

header ul {
    text-align: right;
    padding: 15px 0;
}

header ul li {
    display: inline-block;
    margin-left: 20px;
}

header ul li a {
    color: #332D2D;
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header ul li .btn {
    background: #F26700;
    color: #fff;
    padding: 6px 30px;
    border-radius: 50px;
    font-weight: 600;
    display: inline-block;
}



.logo img{
    width: 190px;
}